.imgprincipal{
    width: 300px;
    height: 300px;
}
body{
    margin: 0;
    margin: auto;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-image:url("photo-1549591552-40298f6f58ed.avif");
background-repeat: no-repeat;
background-size: cover;
}
P{
    font-size: 24px;
}
nav ul{
    background-color: rgb(247, 247, 252);
    list-style:  none;
    margin: 0;
    padding: 0;
    text-align: right;
}
nav ul li{
    display: inline;
    
    }
